.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

.select {
    width: 6.5rem;
    margin-right: 1rem;
}