.ListItem {
    background-color: var(--bg-light-4);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
}

.RemoveButton {
    background-color: var(--bg-danger);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}
